[Desktop Entry]
Name=Strem.io
Comment=Watch instantly All the Video Content You Enjoy in One Place
Exec=/opt/stremio/Stremio.sh %F
Terminal=false
Type=Application
Icon=/opt/stremio/stremio.svg
Categories=AudioVideo;Player;Video;
StartupNotify=true
